@charset "utf-8";
/* CSS Document */

.hidden
{
	display: none;
}

.clearfix:after
{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#container
{
	margin: 0 auto;
	width: 960px;
	height: 778px;
	background-image: url(../images/background.jpg)
}

.deck
{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}

.card
{
	margin: 5px;
	width: 170px;
	height: 170px;
	background-image: url(../images/starship_troopers_logo.jpg)
}

.open 
{
	cursor: default;
}

.show
{
	opacity: 0;
}